.call-to-action {
    line-height: 2.3;
    font-weight: 400;
    color: lighten($color: $foreground-secondary, $amount: 5);
    text-decoration: none;

    svg {
        overflow: hidden;
        vertical-align: middle;
        fill: lighten($color: $foreground-secondary, $amount: 5);
        margin-left: 1rem;

        animation-name: foward;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    &:hover {
        text-decoration: underline;
    }
}

@keyframes foward {
    0% {
        margin-left: 1rem;
    }
    100% {
        margin-left: 2rem;
    }
}
