.page-container {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto 0 auto;

    @include breakpoint(extra_large_devices) {
        max-width: 1140px;
    }

    @include breakpoint(medium_devices) {
        max-width: 720px;
    }
}
