.page-main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    .main-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 1rem;
        margin-left: 1rem;

        .page-content {
            .content-title {
                font-size: 2.275rem;
                font-weight: 600;
                margin: 2rem 0 1.5rem;
                text-transform: uppercase;
                letter-spacing: 9.9px;
            }
            .content-description {
                color: $foreground-secondary;
                font-size: 0.931rem;
                line-height: 2.3;
                font-weight: 400;
            }
        }
    }
}
