.page-projects {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    min-height: 100vh;

    padding-top: 6rem;
    margin-bottom: 4rem;
    margin-top: 2rem;

    header {
        max-width: 42rem;

        h1 {
            font-size: 1.875rem;
            color: lighten($color: $foreground-primary, $amount: 25);
            line-height: 2.25rem;
            font-weight: 700;
            letter-spacing: -0.025em;

            @include breakpoint(extra_small_devices) {
                font-size: 1.75rem;
            }
        }
        p {
            font-size: 1rem;
            line-height: 1.75rem;
            color: $foreground-secondary;
            font-weight: 300;
            margin-bottom: 0;
            padding-bottom: 0;
            max-width: 700px;

            @include breakpoint(extra_small_devices) {
                font-size: 0.969rem;
            }
        }
    }

    .seperator {
        width: 100%;
        height: 1px;
        background: $slate;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.project-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    margin-top: 2rem;

    .project-item {
        position: relative;
        flex-basis: 22rem;

        .item-container {
            width: 350px;
            height: 200px;
            border: solid 1px $slate;
        }

        img {
            display: block;
            transition-duration: 700ms;
            border-radius: 4px;
            font-size: 0;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 1;
            visibility: none;
            transition: 0.5s ease;

            background: rgb(233, 233, 233);
            background: linear-gradient(180deg, rgba(233, 233, 233, 0) 0%, rgba(11, 23, 21, 0.9) 96%);
        }

        &:hover .overlay {
            backdrop-filter: blur(4px);
        }

        .item-content {
            padding: 1rem;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            span {
                font-size: 14px;
                font-weight: 500;
            }
            p {
                font-size: 13px;
                color: lighten($color: $foreground-secondary, $amount: 15);
            }
        }
    }
}
