$be-vietnam-pro: var(--font-be-vietnam-pro);
$space-mono: var(--font-space-mono);

$background-primary: #0b1715;
$background-secondary: #02110e;

$foreground-primary: #e8e8e8;
$foreground-secondary: #999a9c;

$accent: #ffcd9b;
$slate: #708090;
