@import "variables";
@import "mixins";

*,
*::before,
*::after {
    border-width: 0;
    border-style: solid;

    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
}

body {
    margin: 0;
    padding: 0;

    color: $foreground-primary;
    line-height: 1.45;

    @include breakpoint(extra_large_devices) {
        border: 1em solid linear-gradient(to right, $background-primary, $background-secondary);
    }
}

html,
body {
    font-family: $be-vietnam-pro;
    font-feature-settings: "kern";
    background: $background-primary;
    transition-duration: 700ms;
}

.highlight {
    color: $accent;
}

@import "components/page-container";
@import "components/button";

@import "pages/page-main";
@import "pages/page-footer";
